build
GPTune/__pycache__
examples/hypre-driver/exp
scalapack-2.1.0
*.tgz
a.*
*.pyc
.gitignore

examples/core
examples/hypre_outputs/failed

examples/opentuner.log
lib_gptuneclcm.so
pdqrdriver
mpi4py
examples/hypre
examples/superlu_dist
examples/hypre_debug.py
examples/log_debug.txt
examples/opentuner.db
examples/hypre_postprocess/out.*
examples/runlog.txt


GPTune/__pycache__/data.cpython-37.pyc
graphite_job_outputs
