build
GPTune/__pycache__
examples/hypre-driver/exp
scalapack-2.1.0
*.tgz
a.*
*.pyc
.gitignore

examples/core
examples/hypre_outputs/failed
examples/hypre_MLA/outputs

examples/opentuner.log
lib_gptuneclcm.so
pdqrdriver
mpi4py
examples/hypre
examples/superlu_dist
examples/hypre_debug.py
examples/log_debug.txt
examples/opentuner.db
examples/hypre_postprocess/out.*
examples/runlog.txt

GPTune/__pycache__/
graphite_job_outputs

autotune
scikit-optimize
examples/hypre_bandit.py
examples/hypre_fidelitytest.py
TEMP*.txt
temp*.txt
obj_*.pdf
examples/demo_MB_graphite*
examples/hypre_MB_Rtrue*
examples/dgemm*
examples/mydgemm*
run_cori_hypre_Rtrue-copy.sh
run_cori_hypre_MB_single-copy.sh
GPTune/callhpbandster_bandit.py
examples/Hypre/hypre-driver/exp/cori1/
examples/Hypre/hypre_MLA/postprocess/out.historical_mean_set_Poisson_nmax150_nmin30_nrun20
examples/Hypre/hypre_MLA/postprocess/parse_unfinished.py
examples/STRUMPACK/scotch_6.1.0
*.json
examples/STRUMPACK/examples/data/branin_10k
examples/STRUMPACK/scotch_6.1.0.tar.gz
examples/SuperLU_DIST_RCI/log.superlu
examples/Hypre/hypre
scikit-optimize
*-copy*.sh
*.tgz*
*.gz*
examples/cnnMNIST/cnnMNIST-driver/data
examples/cnnMNIST/data
examples/STRUMPACK/log.superlu
*opentuner.db
*gptune.db
*.gptune
*opentuner.log
examples/STRUMPACK/core
scikit-optimize
examples/STRUMPACK/bug.out_STRUMPACK_KRR_MB_susy_100Kn_ntask1_bandit1-8-2_GPTune_exp0
*.tar
examples/GPTune-Demo/.gptune
examples/Hypre/.gptune/
examples/STRUMPACK/pack
examples/STRUMPACK/KRR_*
examples/STRUMPACK/postprocess
examples/SuperLU_DIST/.gptune/
